.cats p a{
    font-weight: bold;
}
.dogs p a{
    font-style: italic;
    font: bold;
}
.light-bgd{
    background-color: blanchedalmond;
    color: rgb(5, 5, 7);
}
.dark-bgd{
    background-color: rgb(122, 86, 86);
    color: azure;
}
.btn-light{
    background-color: antiquewhite;
}